<%= form_with model: @address, :url =>update_cart_address_cart_path do |form| %>
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>
	<p>
		<%= form.label :contact_number %><br>
		<%= form.text_field :contact_number %>
	</p>
	<p>
		<%= form.label :email_id %><br>
		<%= form.email_field :email_id %>
	</p>
	<p>
		<%= form.label :address %><br>
		<%= form.text_area :address %>
	</p>
	<p><%= form.submit %></p>
<% end %>